body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ebf0f5;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
}
#wrapper {
  padding: 0.3em 0.4em;
}
.navbar-collapse:checked {
  display: none;
}
.navbar {
  width: 100%;
  height: 100%;
  position: relative;
  display: inline-flex;
  background: linear-gradient(to bottom right, #8f52ad, #12c2e9);
  border: none;
}
.navbar-brand {
  display: flex;
}
.navbar-toggler {
  display: none;
}
a {
  text-decoration: none;
  color: beige;
}
.menu {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: 0;
}
.menu button {
  border: 1px solid azure;
  border-radius: 30px;
  background-color: #0f4e85;
  text-align: center;
  display: block;
  width: 8rem;
  height: 3rem;
  line-height: 1.5rem;
  margin-right: 10px;
  font-size: 18px;
  flex-shrink: 0;
}

.logo {
  font-size: 1.5rem;
  text-align: center;
}
h2 {
  background-color: #cc0000;
  color: aliceblue;
  margin: 1em 0 0.3em 0;
  text-align: center;
  font-size: 1.3rem;
  padding: 0 0.3em 0 0.3em;
}
.ctr {
  display: block;
  position: relative;
  width: auto;
  box-sizing: border-box;
}
.ctr li {
  border: 1px solid azure;
  border-radius: 2em;
  background-color: #da6416;
  font-size: 1em;
  color: beige;
  text-align: center;
  display: block;
  height: 1.4em;
  line-height: auto;
  margin: 0 1em 0 1em;
  padding-left: 0.3em;
}
.sym {
  width: 1em;
  height: 1em;
}
.select {
  margin: 0.3em 0 0.3em;
  border-top-left-radius: 1.4em;
  background-color: beige;
}
.select span {
  display: flex;
  overflow-x: scroll;
  scroll-snap-align: start;
}
.select1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
}
.select li {
  border: 1px solid azure;
  border-radius: 1.2em;
  background-color: #0f4e85;
  color: beige;
  text-align: left;
  display: block;
  width: auto;
  height: auto;
  line-height: 1.4em;
  margin: 0 0.5em 0 0.5em;
  padding-left: 0.6em;
}
img {
  border-radius: 1rem;
}
.vehicle {
  margin: 0.4rem;
  padding: 0.3rem;
  display: block;
  position: relative;
  border: 1.5rem solid none;
  background-color: #acccfc;
  border-radius: 1.2em;
}
.TX {
  font-size: 0.9rem;
  text-align: left;
  left: 0.6em;
  border: 0.6em solid #acccfc;
  background-color: beige;
  border-radius: 1.5em;
}
.TX p {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}
.chitiet {
  display: flex;
  flex-direction: row;
  background-color: beige;
}
.contact {
  flex: 1;
  font-size: 1.5rem;
}
